# Core dependencies
flask==3.0.2
flask-cors==4.0.0
openai
numpy==1.24.3
python-dotenv==1.0.0
gunicorn==21.2.0
flask-limiter==3.5.0
Flask-Migrate==3.1.0

# Database & Security
flask-sqlalchemy==3.1.1
psycopg2-binary==2.9.9
flask-jwt-extended==4.5.3
bcrypt==4.1.2

# NLP & Anonymization (must be spaCy <3.3 for legal NER)
spacy==3.2.6
spacy-legacy==3.0.12
thinc==8.0.17
spacy-transformers==1.0.0

# Legal NER model wheel
en_legal_ner_trf @ https://huggingface.co/opennyaiorg/en_legal_ner_trf/resolve/main/en_legal_ner_trf-any-py3-none-any.whl

# ML dependencies
torch==1.13.1
transformers==4.2.2
sentencepiece==0.1.99
datasets==2.10.1

# Additional utilities
langdetect==1.0.9
langid==1.1.6
